<%= link_to(notifications_path) do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1.5em;">あ</i> 
      <i class="fas fa-circle n-circle fa-stack-1x">い</i>
      </span>
  <% else %> 
    <i class="far fa-bell fa-lg" style="font-size: 1.5em;">う</i> 
  <% end %>
<% end %>